 Ans 1 :Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
#sol :
import pandas as pd

# Create a pandas Series
data = pd.Series([4, 8, 15, 16, 23, 42])

# Print the Series
print(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
#Ans2

# Create a list with 10 elements
data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a pandas Series
data_series = pd.Series(data_list)

# Print the Series
print(data_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Ans3

In [62]:
df = pd.DataFrame({'Name' : ["Alice" , 'BOB' , "Clair"] , 'Age':[25 , 30 , 27] , 'Gender' : ["Female" , 'Male', "Clair"]})

In [63]:
df

    Name  Age  Gender
0  Alice   25  Female
1    BOB   30    Male
2  Clair   27   Clair

Ans 4 : 

**Series**: A Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. It is similar to a column in a spreadsheet or a vector in mathematical terms. Here's an example of creating a Series:

In [49]:
import pandas as pd
s = pd.Series([1, 3, 5, 6, 8])
print(s)

0    1
1    3
2    5
3    6
4    8
dtype: int64

**DataFrame**: A DataFrame is a two-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dictionary of Series objects. It is generally the most commonly used pandas object. Here's an example of creating a DataFrame:

In [52]:
df = pd.DataFrame({'A': 1.,
                       'B': pd.Timestamp('20130102'),
                       'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                       'D': pd.array([3] * 4, dtype='int32'),
                       'E': pd.Categorical(["test", "train", "test", "train"]),
                       'F': 'foo'})
print(df)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

Ans 5 : Pandas provides a variety of functions to manipulate data in a DataFrame. Here are some common ones:

- **head()**: This function is used to get the first n rows. This is useful for quickly testing if your object has the right type of data in it. For example, `df.head(5)` will return the first 5 rows of the DataFrame df.

- **describe()**: This function generates descriptive statistics that summarize the central tendency, dispersion, and shape of a datasetâ€™s distribution, excluding NaN values. For example, `df.describe()` will provide count, mean, standard deviation, minimum and maximum values along with 25th, 50th, and 75th percentiles.

- **loc[]**: This function is used to access a group of rows and columns by label(s) or a boolean array. For example, `df.loc[:, 'A']` will return all rows for column 'A'.

- **iloc[]**: This function is purely integer-location based indexing for selection by position. For example, `df.iloc[0]` will return the first row.

- **drop()**: This function is used to drop specified labels from rows or columns. For example, `df.drop('A', axis=1)` will drop column 'A' from df.

- **groupby()**: This function is used to split the data into groups based on some criteria. For example, `df.groupby('A').sum()` will return the sum of all other columns for each unique value in column 'A'.

In [55]:
#example 

df5  = pd.read_csv("services.csv")

In [56]:
df5.head(5)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [58]:
df5.tail(5)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [59]:
df5.describe()

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

Ans 6 : All three pandas data structures - Series, DataFrame, and Panel - are mutable in nature. This means that they can be modified after they are created. For example, you can change the values of a Series, add or remove columns from a DataFrame, or update the items of a Panel. Here's an example of modifying a DataFrame:

In [60]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Print the original DataFrame
print("Original DataFrame:")
print(df)

# Modify the DataFrame
df.loc[0, 'A'] = 100

# Print the modified DataFrame
print("Modified DataFrame:")
print(df)

Original DataFrame:
   A  B
0  1  4
1  2  5
2  3  6
Modified DataFrame:
     A  B
0  100  4
1    2  5
2    3  6

Ans 7 : Sure, we can create a DataFrame using multiple Series in pandas. Hereâ€™s an example:

In [61]:
import pandas as pd

# Create a Series
s1 = pd.Series([1, 2, 3, 4], name='s1')
s2 = pd.Series(['a', 'b', 'c', 'd'], name='s2')

# Create a DataFrame using the Series
df = pd.concat([s1, s2], axis=1)

# Print the DataFrame
print(df)

   s1 s2
0   1  a
1   2  b
2   3  c
3   4  d